/******************************
/* Body styles 
/******************************/
body {
	background: white;
	/*color: #222222;*/
	color: /*#1A202C*/#646464;
	font-family: "Droid Serif", Georgia, Times, serif;
	font-size: 15px;
}
a {
	text-decoration: underline;
	color: /*#444*/#222222;
}
a:hover {
	text-decoration: none;
}
#wrapper {
	width: 600px;
	/*margin: 0 auto;*/
	margin: 1em auto 2em auto;
	/*padding: 0;*/
}
.clear {
	clear: both;
	float: none;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }


/******************************
/* Media Queries 
/******************************/

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#wrapper { width: 95%; }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	#wrapper { width: 95%; }
}

/******************************
/* Header 
/******************************/
#masterhead {
	padding: 20px 0;
	margin: 0 0 20px 0; 
}
#masterhead nav {
	margin: 20px 0 0 0;
	text-align: right;
	float: right;
}
#masterhead nav a {
	font-style italic;
}
#header {
	text-align: center;
	font-size: 50px;
	float: left;
	width: 150px;
	margin-left: -210px;
	position: fixed;
}
#header a {
	text-decoration: none;
	text-shadow: 0 2px 0 #fcf9ee, 0 4px 0 rgba(0,0,0,.15);
	/* 在这里改大标题颜色 */
	color: #1A202C/*#3D9140*/;
}
#header a:hover {
	text-decoration: none;
}

/* back to top */
.scrollup {
	position: fixed;
	bottom: 0;
	margin-left: -220px;
	width: 180px;
	text-align: right;
	display:none;
	clear: both;
}
.scrollup a {
	color: #ada597;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: background-color .7s;
	-moz-transition: background-color .7s;
	-o-transition: background-color .7s;
	transition: background-color .7s;
}
.scrollup a:hover {
	color: #615349;
}
.scrollup em {
	font: normal 12px/100% "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif;
	letter-spacing: 1px;
	float: right;
}
.scrollup span {
	width: 28px;
	height: 28px;
/*	background: url(images/nav-icons.png) no-repeat -8px -577px;*/
/*	background-color: rgba(255,255,255,1);*/
/*	display: block;*/
	float: right;
	cursor: pointer;
	margin: -8px 0 0 6px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
}
/*#back-top a:hover span {
	background-color: #f5ec82;
	background-color: rgba(245,236,130,.8);
}*/

/* clearfix */
.clearfix:after, section li:after, footer:after, .post-title:after, .btn:after, .gallery:after, .pagenav:after, #main-nav:after
{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, section li, footer, .post-title, .btn, .gallery, .pagenav, #main-nav 
{ display: inline-block; }
/* clearfix for ie7 */
.clearfix, section li, footer, .post-title, .btn, .gallery, .pagenav, #main-nav 
{ display: block; }

/************************************************************************************
MAIN NAV
/*************************************************************************************/
#main-nav {
	margin-left: -780px;
	/*padding: 0 0 8px 0;*/
	position: fixed;
	top: 140px;
}
#main-nav li {
	padding: 0;
	margin: 0 0 5px;
	float: right;
	clear: both;
	list-style: none;
	position: relative;
}
#main-nav a {
	/*color: #8f0206*/;
	color: /*#CC9999*/#646464;
	/*color: #ff7260;原来的颜色，文章标题也是*/
	text-decoration: none;
	font-size: 14px;
	line-height: 100%;
	padding: 2px 8px 2px 8px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: background-color .7s;
	-moz-transition: background-color .7s;
	-o-transition: background-color .7s;
	transition: background-color .7s;
}
#main-nav a:hover {
	color: /*#000*/#222222;
	/*background-color: #f5ec82;*/
	/*background-color: rgba(245,236,130,.8);*/
}
#main-nav .home a {
	background-position: right -177px;
}
#main-nav .about a {
	background-position: right -257px;
}
#main-nav .contact a {
	background-position: right -339px;
}
#main-nav .archives a {
	background-position: right -421px;
}

/* main nav dropdown */
#main-nav ul {
	text-align: left;
	width: 235px !important;
	display: block;
	background: #fff799 url(images/line-bg.png) 0 3px;
	border-top: solid 1px #fffbd0;
	border-bottom: solid 1px #cdc77c;
	position: absolute;
	z-index: 100;
	left: 62px;
	top: -15px;
	margin: 0;
	width: 200px;
	padding: 10px 15px 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	display: none;
}
#main-nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: none;
}
#main-nav ul a {
	background: none;
	padding: 0;
}
#main-nav ul a:hover {
	background: none;
}
#main-nav ul h4 {
	font: normal 12px/100% Georgia, "Times New Roman", Times, serif;
	color: #a09b60;
	text-transform: uppercase;
	margin: 0 0 4px;
	letter-spacing: .1em;
}
#main-nav ul p {
	margin: 0 0 14px;
}
#main-nav ul .categories a {
	font-size: 105%;
}
#main-nav ul .tags {
	font-size: 85%;
	line-height: 135%;
	word-wrap: break-word;
	text-transform: lowercase;
}
#main-nav ul .tags a {
	color: #7c784a;
	margin-right: 8px;
	-webkit-border-radius: 0;
}
#main-nav ul .tags a:hover {
	color: #000;
	text-decoration: none;
	background: #feed21;
	border-bottom: solid 1px #ded01c;
}

/* hover highlight */
#main-nav li:hover > a {
	background-color: /*#f5ec82*//*#3D9140*/#32CD32;
	background-color: /*rgba(245,236,130,.8)*//*rgba(61,145,64,.8)*/rgba(50,205,50,.8);
	color: #FFFFFF;
}
#main-nav li:hover > ul a {
	background-color: transparent;
}

/******************************
/* Post styling
/******************************/

.post {
	padding: 10px 0 20px 0;
	line-height: 1.5em;
	/*border-bottom: 5px solid #eee;*/
}
.single {
	padding: 0;
}
.post header {
	font-size: 14px;
}
.post header h2 {
	font-size: 22px;
	margin: 5px 0;
	font-weight: /*normal*/bold;
}
.post header h2 a {
	text-decoration: none;
	color: /*#222222*/#3D9140;
	border-bottom: none;
}
.post header h2 a:hover {
	border-bottom: none;
	text-decoration: none;
}
.post header a.link-post {
	/*text-decoration: underline;*/
	/*color: #b5190e;*/
	/*color: #FF0033;*/
	font-size: 19px;
	color: /*#222222*/#3D9140;
	/*color: #CC9999;*/
	/*color: #FD795B;*/
	border-bottom: none;
	font-weight: bold;
	/*text-shadow: 0 2px 0 #fcf9ee, 0 3px 0 rgba(0,0,0,.15);*/
	letter-spacing: -.03em;
}
.post header a.link-post:hover {
	text-decoration: none;
	color: #000;
}
.post header h3 {
	margin: 5px 0;
	font-weight: normal;
}
.post header .date {
	color: gray;
	font-style: italic;
}
.post header a.permalink {
	font-style: italic;
	padding: 0 2px;
}
.post header a.permalink:hover {
	text-decoration: none;
}
.post blockquote {
	color: #696969;
	border-left: 2px solid #D4D4D4;
	
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	margin: 20px 15px;
	padding: 0 20px;
}
.post a {
	/*color: #b5190e;*/
	color: #FF7260;
	text-decoration: none;
}
.post a:hover {
	text-decoration: underline;
}
.post pre {
	padding: 10px 40px;
	margin: 20px;
	background: #eee;
	border-left: 5px solid #a3a3a3;
	color: #000;
}

/******************************
/* Related posts
/******************************/

#related-posts {
	margin-bottom: 10px;
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
.post-nav {
	/*background: url(images/dashed-double.png) repeat-x;*/
	padding-top: 30px;
	margin: 20px 0/* 10px*/;
	clear: both;
	font: normal 100%/140% 'Copse', Georgia, serif;
}
.post-nav li {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	float: left;
	width: 45%;
}
.post-nav span {
	background: url(images/nav-icons.png) no-repeat -2px -977px;
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin: 3px 5px 25px 0;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: background-color .7s;
	-moz-transition: background-color .7s;
	-o-transition: background-color .7s;
	transition: background-color .7s;
}
.post-nav em {
	text-transform: uppercase;
	display: block;
	font: normal 11px "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif;
	margin-bottom: 2px;
	letter-spacing: .2em;
	color: #7e7e73;
}
.post-nav a {
	text-decoration: none;
	font-size: 115%;
	color: /*#91070b*/#3D9140;
}
.post-nav a:hover {
	text-decoration: none;
	color: #000;
}
.post-nav a:hover span {
	background-color: #f5ec82;
	background-color: rgba(245,236,130,.8);
}
.post-nav .prev {
	float: left;
	text-align: left;
}
.post-nav .next {
	float: right;
	text-align: right;
}
.post-nav .next span {
	float: right;
	background-position: -2px -1072px;
	margin: 3px 0 25px 5px;
}

/******************************
/* Archive
/******************************/

.posts {
	list-style: none;
	padding: 0;
	margin: 0;
}
.posts a {
	text-decoration: none;
	color: #3D9140;
}
.posts a:hover {
	text-decoration: underline;
}
.posts .date {
	color: gray;
}

/******************************
/* Footer 
/******************************/

#footer {
	font-size: 13px;
	margin: 20px 0 0 0;
	padding: 12px 0 12px 0;
	border-top: 2px solid #eee;
	line-height: 0.8em;
}
#footer .grid {
	width: 80%;
	float: left;
}
#footer .gridright {
	width: 70%;
	float: left;
	text-align: right;
}

/******************************
/* Comment
/******************************/

.comment {
	margin: 20px 0 0 0;
	padding: 12px 0 12px 0;
	border-top: 1.5px dotted #eee;
	line-height: 0.7em;
}